*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.pyc
*.pyo
node_modules
dist
logs
.vscode/
*.log
static/js/common.js
static/js/main.js
static/js/*.chunk.js
static/js/chunk.*
static/locales/frontend/*.js
static/js/common.js.map
static/js/main.js.map
static/js/*.chunk.js.map
static/locales/frontend/*.js.map
static/style/main.css
static/bundles/
configs/index.js
manifest.json
static/webpack_dll/
stats.json
index.html
static/blob/*
!static/blob/
!static/blob/dump.txt
./configs